{% extends 'base.html' %}

{% block content %}
<h1>Forms</h1>
<ul>
    <li><a href="{{ url_for('do_work') }}">依赖注入的一种尝试</a></li>
    <li><a href="{{ url_for('html') }}">HTML Form</a></li>
    <li><a href="{{ url_for('basic') }}">Basic Form</a></li>
    <li><a href="{{ url_for('bootstrap') }}">Bootstrap Form</a></li>
    <li><a href="{{ url_for('upload') }}">Upload Form</a></li>
    <li><a href="{{ url_for('show_images') }}">根据session内容显示图片</a></li>
    <li><a href="{{ url_for('multi_upload') }}">MultiUpload Form</a></li>
</ul>

{% endblock %}