{% extends 'base.html' %}


{% from 'macros.html' import form_field %}

{% block title %}Upload{% endblock %}


{% block content %}
<div class="container">
    <h1 class="display-4">{{ title }}</h1>
    <hr>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form_field(form.photo, class="form-control-file") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    {% include 'pictures.html' %}
</div>
{% endblock %}