{% extends 'base.html' %}
{% from 'macros.html' import form_field %}

{% block title %}Images{% endblock %}

{% block styles %}
<style>
.photo {
    width: 200px;
}


</style>

{% endblock %}

{% block content %}
{% if session.filenames %}
    {{ session.filenames }}
    {% for filename in session.filenames %}
    <a href="{{ url_for('get_file', filename=filename) }}" target="_blank">
        <img src="{{ url_for('get_file', filename=filename) }}" alt="no photo" class="photo">
    </a>
    {% endfor %}
{% endif %}
{% endblock %}