<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}</title>
</head>
<body>
    {% include '_banners.html' %}
    <a href="{{url_for('index')}}">&larr; Return</a>
    <h2>{{ user.username }}</h2>
    <p>{{ foo }}</p>
    {% if user.bio %}
        <i>{{ user.bio }}</i>
    {% else %}
        <i>This user has not provided a bio.</i>
    {% endif %}
    {# 电影清单 #}
    <h5>{{ user.username }}'s Watchlist ({{ movies|length }}):</h5>
    <ul>
        {% for movie in movies %}
            <li>{{ movie.name }} - {{ movie.year }}</li>
        {% endfor %}
    </ul>
    {{ p_value }}
    {{ p_value|safe }}
    {{ markup_text }}
</body>
</html>